* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {
    background-color: #FFFFFF;
    width: auto;
    height: fit-content;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* NAV */

.header {
    height: 100px;
    margin: -40px -10px -10px -10px;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    align-items: center;
}

button {
    border: none;
    background-color: white;
}

.dropdown {
    font-weight: bold;
    margin-left: 30px;
    display: flex;
}

.dropdown a {
    text-decoration: none;
    color: #232B2D;
    font-weight: bold;
}

.dropbtn {
    background-color: white;
    color: black;
    margin-left: 1px;
    font-size: 16px;
    border: none;
    font-weight: bold;
  }
  
  .dropdown-content {
    display: none;
    background-color: #232B2D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content
   a:hover {background-color: #232B2D;}
  
  .dropdown:hover
   .dropdown-content {display: block;}
  
  .dropdown:hover
   .dropbtn {background-color: none;
color: #33B1FF;}

.logo img {
    width: 100px;
}

/* MAIN */

main {
    max-width: auto;
    padding-right: 30px;
    margin: auto;
    margin-left: 30px;
}

h1 {
    width: 100%;
    display: inline-flex;
    margin-left: 15%;
    margin-top: 20px;
    padding-bottom: 30px;
}

/* PELICULAS */

#pelis ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}



#pelis ul li {
    list-style: none;
}

#pelis ul li a {
    text-decoration: none;
    color: black;
}

#pelis ul li a img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    align-items: center;
}

#pelis ul li a img:hover {
    transform: scale(1.01);
    transition: 0.5s;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.5));
}

#pelis ul li a p {
    padding-top: 5px;
}

.boton-pelis {
    display: none;
}

#divredes {
    padding-top: 100px;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}

.iconos {
    display: inline-block;
    width: 32px;
    height: 32px;
}

section {
    display: block;
}

img {
    display: block;
    margin: auto;
}

.logopiedepagina {
    padding-top: 50px;
    width: 80px;
    height: 36px;
}

#ultimodiv {
    display: inline-block;
    text-align: center;
}

.enlacesfooter {
    font-size: 0.75em;
    padding: 0 8px 4px;
    text-decoration: none;
    color: black;
}

.enlacesfooter:hover {
    color: #0C77DA;
}


/* MEDIA QUERIES */
@media (width < 860px) {

    #pelis ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    

    button {
        display: flex;
        border: none;
        background-color: white;
    }

   #bar {
    display: block;
   }



   h1 {
    padding-top: 20px;
    margin-left: 0;
   }

   
}

@media (width > 770px) {
    #drag-handle {
        display: none;
    }
}

@media (width < 770px) {
    .dropdown {
        display: none;
    }
    .logo img {
        position: absolute;
        left: 40%;
    }
    .dropdown-menu1 {
       display: none;

    }
}